<div class="cards container-fluid">
    <div class="cards-titulo">
        <h1 class="p-5">AREAS OF EXPERTISE</h1>
    </div>
    <div class="row justify-content-center px-4">
        <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Real-World Data from patients</h5>
                <p class="card-text">Disease stratification EHR Health informatics<br/><br/></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="col-md-4 align-self-end row justify-content-end">
             <i class="fas fa-atom fa-5x" style="color:#34a5da;"></i><!--fa-spin-->
            </div>  
          </div>
        </div>

        <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Imaging & Computer vision</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="col-md-4 align-self-end row justify-content-end">
              <i class="fas fa-atom fa-5x" style="color:#34a5da;"></i><!--fa-spin-->
            </div>  
          </div>
        </div>
        <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Imaging & Computer vision</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="col-md-4 align-self-end row justify-content-end">
              <i class="fas fa-atom fa-5x" style="color:#34a5da;"></i><!--fa-spin-->
            </div>  
          </div>
        </div>

        <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Bioinformatics</h5>
                <p class="card-text">t below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="col-md-4 align-self-end row justify-content-end">
              <i class="fas fa-atom fa-5x " style="color:#34a5da;"></i><!--fa-spin-->
            </div>  
          </div>
        </div>

        <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Data Engineering &  Data Architecture</h5>
                <p class="card-text">Sensors Imaging Biological data Experimental Genomic Robotics</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="col-md-4 align-self-end row justify-content-end">
              <i class="fas fa-atom fa-5x" style="color:#34a5da;"></i><!--fa-spin-->
            </div>  
          </div>
        </div>

        <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Data Engineering &  Data Architecture</h5>
                <p class="card-text">Sensors Imaging Biological data Experimental Genomic Robotics</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="col-md-4 align-self-end row justify-content-end">
              <i class="fas fa-atom fa-5x" style="color:#34a5da;"></i><!--fa-spin-->
            </div>  
          </div>
        </div>

        <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
          <div class="row no-gutters">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Data Engineering &  Data Architecture</h5>
                <p class="card-text">Sensors Imaging Biological data Experimental Genomic Robotics</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="col-md-4 align-self-end row justify-content-end">
              <i class="fas fa-atom fa-5x" style="color:#34a5da;"></i><!--fa-spin-->
            </div>  
          </div>
        </div>
    </div>
</div>