<div class="parallax5" id="parallax5"></div>
<div class="container-fluid publications">
    <div class="cards-titulo">
        <h1 class="p-3">CAREERS</h1>
    </div>
    <h4 class="text-center text-white">JOIN OUR TEAM!</h4>
    
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-10">
            <h4 class="text-justify text-celeste">DATA SCIENTISTS.</h4>
        </div>
        <div class="col-md-10">
            <p class="text-justify text-white">Experience in Natural Language Processing, Machine Learning, Computer Vision, image analysis and image processing, Any platform and programming language is welcome. Critical thinking and a passion for life sciences is a must!</p>
        </div>
    </div>
    
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-10">
            <h4 class="text-justify text-celeste">SENIOR DATA ENGINEERS & DATA ARCHITECTS.</h4>
        </div>
        <div class="col-md-10">
            <p class="text-justify text-white">Experience in the design of Big Data pipelines to support key business data flows. Data preparation and transformations, establishing design and programming patterns for technical and non-technical users.</p>
        </div>
    </div>
    
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-10">
            <h4 class="text-justify text-celeste">BUSINESS DEVELOPMENT LEAD.</h4>
        </div>
        <div class="col-md-10">
            <p class="text-justify text-white">Biology and/or health background. Experience in the deployment of new technologies and digital transformation across the life sciences and health sector. Understanding of the value and opportunities of data science. Robust network and solid interpersonal skillset.</p>
        </div>
    </div>
    
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-10">
            <h4 class="text-justify text-celeste">ADVISORS, INVESTORS & SUPPORTERS.</h4>
        </div>
        <div class="col-md-10">
            <p class="text-justify text-white">We would like to hear about interested contributors that want to join our team and our vision.</p>
        </div>
    </div>
    
    <div class="row justify-content-center mt-1 ">
        <div class="col-md-10">
            <p class="text-justify text-white"><a  href="#" title="e">contact@phenobytelife.com</a></p>
        </div>
    </div>
    
    <div class="row justify-content-center mt-2 ">
        <div class="col-md-10">
            <h3 class="text-center text-celeste mb-5"><a  href="#" title="e">careers@phenobytelife.com</a></h3>
        </div>
    </div>
    

</div>   

        
    