<div class="container-fluid ways-to-collaborate">
    <div class="cards-titulo">
        <h1 class="p-5">AREAS OF EXPERTISE</h1>
    </div>
    <div class="row row justify-content-center px-4">
        
            <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
                <img src="img/collaborate/imagen-color.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Corporate & Academic Partnerships</h5>
                  <p class="card-text">We are looking for academic research groups and corporate R&D teams interested in co-developing new technology using AI and machine-learning.</p>
                </div>
            </div>
       
        
            <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
                <img src="img/collaborate/imagen-color.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Government-funded programs</h5>
                  <p class="card-text">Our team members have experience in participating in H2020 and EU-funded grant programs. We can contribute our expertise in data science and data
managing genetic, screening, experimental, biological and clinical data including imaging and EHR.</p>
                  
                </div>
            </div>
        
       
            <div class="card col-md-3 col-sm-12 m-2 border border-secondary text-white" style="max-width: 540px; background-color: #1C1C1C;">
                <img src="img/collaborate/imagen-color.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center"> Partner <br/> with us </h5>
                  <p class="card-text">Our scientific and engineering team is devoted in making an impact in the health care sector. Contact us to discuss new opportunities for partnership and collaboration.</p>
                 
                </div>
            </div>
        
        
    </div>
</div>   

        
    