<div class="container-fluid" style="background-color: white;">
    <div class="row align-items-center m-5">
        <div class="col-md-5">
            <a href="#default">
                <img id="logo" src="img/top_nav/Phenobyte-ciencia-logo-negro.jpg" alt="phenobyte logo" title="phenobyte ciencia"/>
            </a>
        </div>
        <div class="col-md-7">
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#">Areas of expertise</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Publications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#">Our Vision</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="#">Carrers</a>
                </li>
            </ul>
        </div>  
    </div>
    <div class="col-ms-12 text-center text-secondary mb-5">
        <p style="font-size:13px;">Maquetado por Rafael Defelice para Maccingames.srl . Argentina. Enero 2020</p>
    </div>
</div>   

        
    