<div class="parallax4" id="parallax4"></div>
<div class="container-fluid publications">
    <div class="cards-titulo">
        <h1 class="p-3">OUR VISION</h1>
    </div>
    <p class="text-center">WHEN DATA SCIENCE MEETS DATA ENGINEERING</p>
    
    <div class="row align-items-center">
        <div class="col-md-7 col-sm-12">
            <p class="text-white text-left">
                2,3 trillion gigabytes of data are being generated each day by humans and devices, becoming available as corporate and public golden assets.</p>
            <p class="text-white text-left">In principle, current state-of the art data analysis technologies have the potential to transform these data assets into rich information and actionable knowledge meant to improve business and guide human and automated decisions.</p>
        </div>
        <div class="col-md-5 col-sm-12 text-center">
            <img src="img/vision/vision.jpg" alt="" title=""/>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-5 col-sm-12 text-center">
            <img src="img/vision/vision.jpg" alt="" title=""/>
        </div>
        <div class="col-md-7 col-sm-12">
            <p class="text-white text-left">
                <span class="text-celeste">Data Science</span> promises to better understand business stakeholders, characterize the markets, accelerate processes, predict risk and even anticipate new business opportunities. 
            </p>
            <p class="text-white text-left">However, the reality is that the <span class="text-danger">wealth of data in organizations is often disorganized, missing, misleading, noisy or fragmented</span>, lacking provenance and annotation, and spread across many disconnected databases.</p>
        </div>
    </div>
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-10">
            <p class="text-justify text-white"><span class="text-celeste">Data Engineering.</span> The task of managing, sourcing, collecting, integrating, updating the data is the realm of Data Engineering. That is why Data Engineering is probably one of the most demanded and well-paid occupations. Data Engineers, also called Data Architects, are occupied with the design and building of data pipelines that support data analysis, and also tasked with sourcing the software and hardware relevant for a healthy and robust data platforms.</p>
        </div>
    </div>
    
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-10">
            <p class="text-justify text-white"><span class="text-celeste">At Phenobyte,</span> our team of Data Engineers and Data Scientists work closely together so that the data platforms we design and build for our clients are suitable for seamless data analysis. Raw data and data resulting from models can be updated, backed up and monitored for quality, as well as integrated and benchmarked against external public and licensed data.</p>
        </div>
         
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10">
            <p class="text-left">For more information about our services, please visit our website:  <a  href="#" title="e">contact@phenobytelife.com</a></p>
        </div>
    </div>

</div>   

        
    