<div class="container-fluid publications">
    <div class="cards-titulo">
        <h1 class="p-3">PUBLICATIONS</h1>
    </div>
    <p class="text-center">PUBLICATIONS BY OUR TEAM MEMBERS SHOW OUR EXPERTISE</p>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" style="background-color: #1c1c1c; color:white;" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" style="background-color: #1c1c1c; color:white;" href="#">1</a></li>
          <li class="page-item"><a class="page-link" style="background-color: #1c1c1c; color:white;" href="#">2</a></li>
          <li class="page-item"><a class="page-link" style="background-color: #1c1c1c; color:white;" href="#">3</a></li>
          <li class="page-item"><a class="page-link" style="background-color: #1c1c1c; color:white;" href="#">Next</a></li>
        </ul>
    </nav>
    <div class="row row justify-content-center px-4">
            <div class="card col-md-10 col-sm-12 m-2 border border-secondary text-white" style="background-color: #1C1C1C;">
                <div class="card-body">
                  <h5 class="card-title">Prediction of amyloid pathology in cognitively unimpaired individuals using voxel-wise analysis of longitudinal structural brain MRI.</h5>
                  <p class="card-text">Petrone PM, Casamitjana A, Falcon C, Artigues M, Operto G, Cacciaglia R, Molinuevo JL, Vilaplana V, Gispert JD; Alzheimer’s Disease Neuroimaging Initiative.</p>
                  <a href="https://www.ncbi.nlm.nih.gov/pubmed/31421683" target="_blank" class="card-link">Go to the article</a>
                </div>
            </div>
            <div class="card col-md-10 col-sm-12 m-2 border border-secondary text-white" style="background-color: #1C1C1C;">
                <div class="card-body">
                  <h5 class="card-title">Shared latent structures between imaging features and biomarkers in early stages of Alzheimer's disease: a predictive study.</h5>
                  <p class="card-text">Casamitjana A, Vilaplana V, Petrone P, Molinuevo JL, Gispert JD. IEEE J Biomed Health Inform. 2019 Aug 1. doi: 10.1109/JBHI.2019.2932565. [Epub ahead of print]</p>
                  <a href="https://www.ncbi.nlm.nih.gov/pubmed/31380776" target="_blank" class="card-link">Go to the article</a>
                </div>
            </div>
            <div class="card col-md-10 col-sm-12 m-2 border border-secondary text-white" style="background-color: #1C1C1C;">
                <div class="card-body">
                  <h5 class="card-title">Identification of NEK3 and MOK as novel targets for lithium.</h5>
                  <p class="card-text">Bravo A, de Lucio H, Sánchez-Murcia PA, Jiménez-Ruiz A, Petrone PM, Gago F, Cortés Cabrera A. Chem Biol Drug Des. 2019 May;93(5):965-969. doi: 10.1111/cbdd.13487. Epub 2019 Feb 12.</p>
                  <a href="https://www.ncbi.nlm.nih.gov/pubmed/30667602" target="_blank" class="card-link">Go to the article</a>
                </div>
            </div>
    </div>
</div>   

        
    