<div class="parallax3" id="parallax3"></div>
<div class="container-fluid publications">
    <div class="cards-titulo">
        <h1 class="p-3">TEAM</h1>
    </div>
    <div class='row col-md-12'>
        <h2 class="text-left text-celeste">FOUNDER & DATA Science Director</h2>
        
        <p class="text-secondary col-9">Paula M. Petrone, PhD</p>
        <div class="col-3 text-right">
            <img src="img/team/linkedin-logo.jpg" alt="" title="" class='mr-md-5 mb-md-2'/>
        </div>
        
    </div>
    <div class="row align-items-center">
        <div class="col-md-7 col-sm-12">
            <p class="text-white text-left">
                Paula Petrone has a decade's experience implementing novel technology and analytics to support decision-making in the life science industry. PhD in Biophysics from Stanford University, her field of expertise is the integration and mining of heterogeneous information at the intersection of chemistry, biology and medicine.
            </p>
            <p class="text-white text-left">Dr, Petrone serves as a data science advisor helping startups and Pharma companies with their digital strategy and innovation programs. She is a firm advocate of diversity in the STEM careers. She is an author of several scientific publications,  active public speaker, mentor, and mother of two children.</p>
        </div>
        <div class="col-md-5 col-sm-12 text-center">
            <img src="img/team/paula-petrone.jpg" alt="" title=""/>
        </div>
    </div>
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-8">
            <h2 class="text-warning text-left">NEW!</h2>
            <p class="text-celeste text-left">We are looking for advisors, investors and motivated data scientists & engineers that wish to make an impact in health care by leveraging data-driven technological advances.</p>
            <div class="text-center mb-5">
               <a  href="#" title="e">contact@phenobytelife.com</a>
            </div>   
        </div>
        
    </div>


</div>   

        
    